extends ../layouts/layout.pug
block main-content
    block about
        include ../patials/about.pug
        include ../patials/services.pug
        //- include ../patials/lookfor.pug
        include ../patials/form.pug

    
    
