footer{
    text-align: center;
    background: #068cc9;
    color: white;
    padding: 2rem;
    h2{
        font-weight: 400;
    }
    p{
        font-size: 1.6rem;
    }
    .icon{
        display: inline;
        padding: 0 0.8rem;
        color: white;
        text-decoration: none;
    }
    .child{
        font-size: 1.4rem;
    }
}