
.navigation{
    z-index: 99;
    .header{
            position: fixed;
            width: 100%;

        .language{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #007dc6;
            padding: 0.5rem 2rem;
            .laguage-content{
                p{
                    color: white;
                    font-size: 1.3rem;
                }
            }
            .language-flag{
                display: flex;
                .selected{
                    background: #9fceeb;
                }
                .language-flag-block{
                    width: 50%;
                    border: 1px solid white;
                    padding: 0.5 1rem;
                    border-radius: 30px;
                    margin-left: 1rem; 
                    a{
                        display: block;
                        padding: 0 3rem;
                    }
                }
            }
        }
        .nav{
            padding: 0 2rem;
            width: 100%;
            background: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // display: none;
            .nav__logo{
                padding-top:2rem; 
                img{

                }
            }
            .nav__list{
                list-style-type: none;
                z-index: 99;

                .nav__item{
                    display: inline-block;
                    z-index: 99;

                    .nav__link{
                        z-index: 99;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        color: #9fceeb;
                        // background: blue;
                        padding: 1rem 0.5rem;
                        margin-left: 3rem;
                        transition: 0.3s;
                        position: relative;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 100%;
                            bottom: 0;
                            background: transparent;
                            border-bottom: 3px solid #007dc6;
                            transition: 0.3s;

                        }
                    }
                }
                .active{
                    .nav__link{
                        color: #007dc6;
                        font-weight: 700;
                        &:after{
                            right: 0;
                        }
                    }
                }
            }
        }
        .nav-mobile{
            padding: 0 2rem;
            width: 100%;
            background: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            display: none;
            .nav__logo{
                padding-top:2rem; 
                img{

                }
            }
            .nav__toggle{
                i{
                    font-size: 2rem;
                }
            }
            .nav__list{
                z-index: 99;
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                list-style-type: none;
                background: white;
                border: 1px solid #eeee;
                // height: 100vh;
                .nav__item{
                    // display: inline-block;
                    .nav__link{
                        z-index: 99;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        color: #9fceeb;
                        // background: blue;
                        padding: 1rem 0.5rem;
                        margin-left: 0rem;
                        transition: 0.3s;
                        position: relative;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 100%;
                            bottom: 0;
                            background: transparent;
                            border-bottom: 3px solid #007dc6;
                            transition: 0.3s;

                        }
                    }
                }
                .active{
                    .nav__link{
                        color: #007dc6;
                        font-weight: 700;
                        &:after{
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}
//test
.about{
    height: 100vh;
    background: black;
}
.services{
    height: 100vh;
    background: yellow;
}
.signup{
    height: 100vh;
    background: red;
}

@media only screen and (max-width: 576px){
    .navigation{
        .header{
                position: fixed;
                width: 100%;
    
            .language{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .laguage-content{
                    p{
                        text-align: center;
                    }
                }
            }
            .nav{
                display: none;
            }
            .nav-mobile{
                display: flex;
            }
        }
    }
}