footer
    h2 STICK UPZ
    p Just one click, stick your name on the map
    a(href="#").icon  
        <i class="fab fa-facebook-f"></i>
    a(href="#").icon 
        <i class="fab fa-twitter"></i>
    a(href="#").icon 
        <i class="fab fa-linkedin-in"></i>
    a(href="#").icon 
        <i class="fab fa-instagram"></i>
    p.child Coppyright@2019 Stickupz. All rights reserved