section#signup(data-scroll-spy="section").signup.form
    .title
        h2 How To Use
        p FORM
    .form-signup
        h2 Stick me upz
        .form-main
            form(action="")
                p Email 
                    pr *
                input(type="text" name="email")
            form(action="")
                p Phone 
                    pr *
                input(type="number" name="phone")
            form(action="")
                p First name 
                    pr *
                input(type="text" name="firstname")
            form(action="")
                p Last name:
                    pr *
                input(type="text" name="lastname")
        .btn
            button Sign Up
        