section.navigation
    .header#header
        .language
            .laguage-content
                p LOREM IPSUM DOLOR SIT AMET. CONSECTETUR ADIPISCING ELIT
            .language-flag
                .language-flag-block.selected
                    a(href="#")
                        img(src="../../../dist/assets/images/Layer-1.png", alt="")
                .language-flag-block
                    a(href="#")
                        img(src="../../../dist/assets/images/Layer-2.png", alt="")

        .nav
            .nav__logo
                img(src="../../../dist/assets/images/Untitled-9.jpg", alt="")
            ul.nav__list
                li.nav__item.active
                    a(href="#about").nav__link About us
                li.nav__item
                    a(href="#services").nav__link Services
                li.nav__item
                    a(href="#signup").nav__link Sign up
        .nav-mobile
            .nav__logo
                img(src="../../../dist/assets/images/Untitled-9.jpg", alt="")
            .nav-box1    
                .nav__toggle
                    i.fas.fa-bars
                ul.nav__list
                    li.nav__item.active
                        a(href="#about").nav__link About us
                    li.nav__item
                        a(href="#services").nav__link Services
                    li.nav__item
                        a(href="#signup").nav__link Sign up

