section#services(data-scroll-spy="section").services
    .title
        h2 What we offer
        p Services
    .box-title
        .row.modal-content
            .col-lg-3.col-md-6.box-rlt
                .box-img-t
                    .box-img
                        img(src="../../../dist/assets/images/113.jpg", alt="113")
                        button.btn-modal Readmore
                    .text-img
                        h3 Look for job
                .service-modal
                    h3 Look for job
                    .row.info-modal
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/ad.png", alt="icon")
                                .title-modal
                                    h6 Profilesss building with text and images
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/magnifier.png", alt="icon")
                                .title-modal
                                    h6 Search for jobs
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/web1.png", alt="icon")
                                .title-modal
                                    h6 Ease for signin
            .col-lg-3.col-md-6.box-rlt
                .box-img-t
                    .box-img
                        img(src="../../../dist/assets/images/114.jpg", alt="111")
                        button.btn-modal Readmore
                    .text-img
                        h3 Look for job
                .service-modal
                    h3 Look for job
                    .row.info-modal
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/ad.png", alt="icon")
                                .title-modal
                                    h6 Profile building with text and images
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/magnifier.png", alt="icon")
                                .title-modal
                                    h6 Search for jobs
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/web1.png", alt="icon")
                                .title-modal
                                    h6 Ease for signin
            .col-lg-3.col-md-6.box-rlt
                .box-img-t
                    .box-img
                        img(src="../../../dist/assets/images/113.jpg", alt="114")
                        button.btn-modal Readmore
                    .text-img
                        h3 Look for job
                .service-modal
                    h3 Look for job
                    .row.info-modal
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/ad.png", alt="icon")
                                .title-modal
                                    h6 Profile building with text and images
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/magnifier.png", alt="icon")
                                .title-modal
                                    h6 Search for jobs
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/web1.png", alt="icon")
                                .title-modal
                                    h6 Ease for signin
            .col-lg-3.col-md-6.box-rlt
                .box-img-t
                    .box-img
                        img(src="../../../dist/assets/images/114.jpg", alt="112")
                        button.btn-modal Readmore
                    .text-img
                        h3 Look for job
                .service-modal
                    h3 Look for job
                    .row.info-modal
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/ad.png", alt="icon")
                                .title-modal
                                    h6 Profile building with text and images
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/magnifier.png", alt="icon")
                                .title-modal
                                    h6 Search for jobs
                        .col-md-4.col-sm-6.m-auto
                            .box-modal
                                .icon-modal
                                    img(src="../../../dist/assets/images/web1.png", alt="icon")
                                .title-modal
                                    h6 Ease for signin
